#map {
    height: 100%;
    margin-left: 30%;
    transform-origin: right;
}

body {
    margin: 0;
}

#wrapper {

}

#visual {
    position: relative;
    z-index: 2;
}

#important {
    position: absolute;
    height: 100%;
    width: 400px;
    left: 0;
    top:0;
    z-index: 9;
    background-color: white;
}

#list {
    overflow: auto;
    width: 200px;
    height: 140px;
    padding-top: auto;
    padding-bottom: auto;
    right: 0;
    background: white;
}

#langBasic {
   padding-left: 50px;
}

#info {
    margin-top: 10px;
    width: 400px;
    align-content: right;
    font-size: 20px;

}

#timezone {
    width: 400px;
}

#head {
    font-size: 30px;
    background-color: aqua
}


#alert {
  position: absolute;
  padding-bottom: 20px;
  background-color: aqua;
  margin-bottom: 20px;
  font-size: 20px;
  white-space: nowrap;
  width: 100px;
  height: 10px;
  z-index: 10;
  right: 0;
  bottom:0;
}
